/* animación para la entrada */

@keyframes slideinsplash {
    from {
        height: 0;
        margin-left: 100%;
        width: 0%
    }
    to {
        height: 99%;
        margin-left: 0%;
        width: 99%;
    }
}